<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>
    	{% block title %}MyBeer{% endblock %}
    </title>
    <style>
      .mybeer-masthead {
        background-color: #EEEEEE;
        margin-bottom: 1em;
      }
    </style>
  </head>
  <body>
    <div class="mybeer-masthead">
      <div class="container">
        <nav class="nav">
        	<div class="navbar-brand">
            MyBeer
          </div>
          <a class="nav-link" href="{% url 'beer:BeerList' %}">
            Beers
          </a>
          <a class="nav-link" href="{% url 'beer:BreweryList' %}">
            Breweries
          </a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 mybeer-main">
          {% block main %}{% endblock %}
        </div>
        <div class="col-sm-3 offset-sm-1 mybeer-sidebar">
          {% block sidebar %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
